body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-csRed{
  background: #E27D60;
}

.bg-csBlue{
  background: #085DCB;
}

.bg-csOrange{
  background: #E8A87C;
}

.bg-csPurple{
  background: #C38D9E;
}

.bg-csGreen{
  background: #41B3A3;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  max-height: 20vh;
}

.car-model-image{
  max-height: 20vh;
}

.clickable{
  cursor: pointer;
}

.card-hover {
  transition: box-shadow .3s;
}
.card-hover:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
